* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  background-image: url(img/texture-1893783_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 500px;
  position: relative;
  margin: auto;
  /* grid-gap: 10px; */
  grid-template-areas:
    "nav nav nav"
    "featured featured featured"
    ". content ."
    "footer footer footer";
  grid-template-rows: 50px 100px 1fr 100px;
  grid-template-columns: 1fr 4fr 1fr;
}

.container nav img {
  width: 35px;
}

h1,
h2 {
  font-family: "Slabo 27px";
  text-align: center;
}

nav {
  background-color: black;
  grid-area: nav;
  position: fixed;
  width: 100%;
}

.featured {
  grid-area: featured;
  line-height: 100px;
  font-size: 1.25em;
  /* color: #32384a; */
  color: #d5d7e6;

}

.content {
  background-color: #d8d9e3;
  grid-area: content;
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  grid-area: footer;
  margin-top: 50px;
  height: 75px;
  line-height: 75px;
  font-size: 1em;
  font-family: monospace;
  text-align: center;
}

nav img {
  float: left;
  margin: 6px;
}

ul {
  float: right;
  display: block;
  margin: 15px;
}

a li {
  display: inline;
  transition: 0.4s;
  margin: -2px;
  padding: 16px 16px;
  color: white;
}

a li:hover {
  color: black;
  background: white;
}

ul a:link {
  text-decoration: none;
  font-weight: 600;
}

article h3 {
  margin-bottom: 15px;
  color: darkcyan;
}

article {
  padding: 20px;
  border-bottom: 1px solid grey;
}

article p {
  margin: 15px;
  text-align: justify;
}

article:last-child {
  padding: 20px;
  border-bottom: none;
}

.gambar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.item {
  margin-top: 10px;
}